<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Roboto+Mono&display=swap" rel="stylesheet">
  <title>The amazing quiz</title>
</head>
<body>
  <div class="app">
    <a class="nav" href="/">Restart quiz</a>
    <h1 class="title">QUIZZ TIME</h1>
    {{{body}}}
  </div>
</body>
</html>