<div>
  <h3 id="welcome">
    Welcome to Quizz Time! <br> Click the "Start Quiz" button below to join us on an exciting learning adventure of
    code.
  </h3>
</div>
<div>
  <form class="form" action="/quiz" method="post">
    <label for="name">
      Enter your name:
      <input type="text" name="name">
    </label>
    {{!-- <input type="submit" name="" value="Submit"> --}}
</div>
<div id="startQuiz">
  <button class="button">Start Quiz</button>
  {{!-- <a class="button" href="/quiz/questions/1">Start Quiz</a> --}}
</div>
</form>