<div>
  <img class="img-mario" src="/images/winImg.jpeg" alt="Mario congratulating the winners">
</div>
<div>
  <p class="scoreboardWinners">
    Congratulations {{name}}! Your score is {{score}}
  </p>
  <audio autoplay>
    <source src="sounds/scorePage.wav" type="audio/wav">
  </audio>
</div>